In [1]:
import numpy as np
import pandas as pd

In [2]:
#import csvs for aggregating
oct_2013 = pd.read_csv("2013-10 - Citi Bike trip data.csv")
oct_2014 = pd.read_csv("201410-citibike-tripdata.csv")
oct_2015 = pd.read_csv("JC-201510-citibike-tripdata.csv")
oct_2016 = pd.read_csv("JC-201610-citibike-tripdata.csv")
oct_2017 = pd.read_csv("JC-201710-citibike-tripdata.csv")
oct_2018 = pd.read_csv("JC-201810-citibike-tripdata.csv")
oct_2019 = pd.read_csv("JC-201910-citibike-tripdata.csv")
oct_2020 = pd.read_csv("JC-202010-citibike-tripdata.csv")

In [3]:
#view dataframes
#oct_2013
#oct_2014 
#oct_2015
#oct_2016
#oct_2017
#oct_2018
#oct_2019
#oct_2020

In [4]:
#concat to combine into one dataframe
october_2013_to_2020 = pd.concat([oct_2013,oct_2014,oct_2015,oct_2016,oct_2017,oct_2018,oct_2019,oct_2020])
october_2013_to_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,10/1/2013,10/1/2013,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,10/1/2013,10/1/2013,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,10/1/2013,10/1/2013,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,10/1/2013,10/1/2013,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,10/1/2013,10/1/2013,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30081,1054,10/31/2020,10/31/2020,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,0
30082,156,10/31/2020,10/31/2020,3185,City Hall,40.717732,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,1
30083,1858,10/31/2020,11/1/2020,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,1
30084,1809,10/31/2020,11/1/2020,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,45341,Subscriber,1999,1
30085,395,10/31/2020,10/31/2020,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,1

In [5]:
#replace the gender category values 0= unknown, 1= male, 2=female
october_2013_to_2020['gender']=october_2013_to_2020['gender'].astype(str)
october_2013_to_2020['gender'] = october_2013_to_2020['gender'].replace(['0','1','2'],['unknown','male','female'])
october_2013_to_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,10/1/2013,10/1/2013,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,male
1,729,10/1/2013,10/1/2013,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,unknown
2,520,10/1/2013,10/1/2013,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,male
3,281,10/1/2013,10/1/2013,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,male
4,196,10/1/2013,10/1/2013,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30081,1054,10/31/2020,10/31/2020,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,unknown
30082,156,10/31/2020,10/31/2020,3185,City Hall,40.717732,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,male
30083,1858,10/31/2020,11/1/2020,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,male
30084,1809,10/31/2020,11/1/2020,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,45341,Subscriber,1999,male
30085,395,10/31/2020,10/31/2020,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,male

In [6]:
#save csv for visualizations
october_2013_to_2020.to_csv("october_2013_to_2020.csv", encoding='utf-8', index=True)

In [7]:
#import csvs for 2020 visualizations
jan_2020 = pd.read_csv("JC-202001-citibike-tripdata.csv")
feb_2020 = pd.read_csv("JC-202002-citibike-tripdata.csv")
mar_2020 = pd.read_csv("JC-202003-citibike-tripdata.csv")
apr_2020 = pd.read_csv("JC-202004-citibike-tripdata.csv")
may_2020 = pd.read_csv("JC-202005-citibike-tripdata.csv")
jun_2020 = pd.read_csv("JC-202006-citibike-tripdata.csv")
jul_2020 = pd.read_csv("JC-202007-citibike-tripdata.csv")
aug_2020 = pd.read_csv("JC-202008-citibike-tripdata.csv")
sep_2020 = pd.read_csv("JC-202009-citibike-tripdata.csv")
oct_2020 = pd.read_csv("JC-202010-citibike-tripdata.csv")
nov_2020 = pd.read_csv("JC-202011-citibike-tripdata.csv")
dec_2020 = pd.read_csv("JC-202012-citibike-tripdata.csv")

In [8]:
#for viewing dataframes
#jan_2020
#feb_2020 
#mar_2020
#apr_2020 
#may_2020
#jun_2020
#jul_2020
#aug_2020 
#sep_2020
#oct_2020
#nov_2020 
#dec_2020

In [9]:
#concat to combine into one dataframe
data_year_2020 = pd.concat([jan_2020,feb_2020 ,mar_2020,apr_2020 ,may_2020,jun_2020,jul_2020,aug_2020,sep_2020,oct_2020,nov_2020,dec_2020])
data_year_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [10]:
#replace the gender category values 0= unknown, 1= male, 2=female
data_year_2020['gender']=data_year_2020['gender'].astype(str)
data_year_2020['gender'] = data_year_2020['gender'].replace(['0','1','2'],['unknown','male','female'])
data_year_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,female
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,female
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,male
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,unknown
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,unknown
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,unknown
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,male
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,unknown
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,male

In [11]:
#save csv for visualizations
data_year_2020.to_csv("data_year_2020.csv", encoding='utf-8', index=True)

In [12]:
#import csvs for aggregating
#aug_2013 = pd.read_csv("2013-08 - Citi Bike trip data.csv")
#aug_2014 = pd.read_csv("2014-08 - Citi Bike trip data.csv")
aug_2015 = pd.read_csv("201508-citibike-tripdata.csv")
aug_2016 = pd.read_csv("201608-citibike-tripdata.csv")
aug_2017 = pd.read_csv("201708-citibike-tripdata.csv")
aug_2018 = pd.read_csv("201808-citibike-tripdata.csv")
aug_2019 = pd.read_csv("201908-citibike-tripdata.csv")
aug_2020 = pd.read_csv("202008-citibike-tripdata.csv")

In [13]:
#for viewing databases
#aug_2013
#aug_2014
#aug_2015
#aug_2016
#aug_2017
#aug_2018
#aug_2019
#aug_2020

In [19]:
#concat to combine into one dataframe
august_2015_to_2020 = pd.concat([aug_2015,aug_2016,aug_2017,aug_2018,aug_2019,aug_2020])
august_2015_to_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1202,8/1/2015,8/1/2015,168.0,W 18 St & 6 Ave,40.739713,-73.994564,385.0,E 55 St & 2 Ave,40.757973,-73.966033,23253,Subscriber,1987.0,1
1,301,8/1/2015,8/1/2015,450.0,W 49 St & 8 Ave,40.762272,-73.987882,479.0,9 Ave & W 45 St,40.760193,-73.991255,22675,Subscriber,1951.0,2
2,431,8/1/2015,8/1/2015,312.0,Allen St & E Houston St,40.722055,-73.989111,296.0,Division St & Bowery,40.714131,-73.997047,19831,Subscriber,1985.0,1
3,273,8/1/2015,8/1/2015,382.0,University Pl & E 14 St,40.734927,-73.992005,229.0,Great Jones St,40.727434,-73.993790,22765,Subscriber,1975.0,1
4,1256,8/1/2015,8/1/2015,352.0,W 56 St & 6 Ave,40.763406,-73.977225,432.0,E 7 St & Avenue A,40.726218,-73.983799,22127,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2465,8/15/2020,8/15/2020,3165.0,Central Park West & W 72 St,40.775794,-73.976206,223.0,W 13 St & 7 Ave,40.737815,-73.999947,35280,Customer,1969.0,0
1048571,1055,8/15/2020,8/15/2020,3832.0,Central Ave & Weirfield St,40.690550,-73.911810,3774.0,Knickerbocker Ave & George St,40.704425,-73.928360,15339,Customer,1995.0,2
1048572,829,8/15/2020,8/15/2020,3708.0,W 13 St & 5 Ave,40.735445,-73.994310,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,28815,Customer,1990.0,2
1048573,728,8/15/2020,8/15/2020,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,43211,Subscriber,1995.0,1
1048574,1018,8/15/2020,8/15/2020,3558.0,Bergen St & Vanderbilt Ave,40.679439,-73.968044,3407.0,Union St & Nevins St,40.679098,-73.987655,45843,Subscriber,1968.0,1

In [20]:
#replace the gender category values 0= unknown, 1= male, 2=female
august_2015_to_2020['gender']=august_2013_to_2020['gender'].astype(str)
august_2015_to_2020['gender'] = august_2013_to_2020['gender'].replace(['0','1','2'],['unknown','male','female'])
august_2015_to_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1202,8/1/2015,8/1/2015,168.0,W 18 St & 6 Ave,40.739713,-73.994564,385.0,E 55 St & 2 Ave,40.757973,-73.966033,23253,Subscriber,1987.0,male
1,301,8/1/2015,8/1/2015,450.0,W 49 St & 8 Ave,40.762272,-73.987882,479.0,9 Ave & W 45 St,40.760193,-73.991255,22675,Subscriber,1951.0,female
2,431,8/1/2015,8/1/2015,312.0,Allen St & E Houston St,40.722055,-73.989111,296.0,Division St & Bowery,40.714131,-73.997047,19831,Subscriber,1985.0,male
3,273,8/1/2015,8/1/2015,382.0,University Pl & E 14 St,40.734927,-73.992005,229.0,Great Jones St,40.727434,-73.993790,22765,Subscriber,1975.0,male
4,1256,8/1/2015,8/1/2015,352.0,W 56 St & 6 Ave,40.763406,-73.977225,432.0,E 7 St & Avenue A,40.726218,-73.983799,22127,Subscriber,1978.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2465,8/15/2020,8/15/2020,3165.0,Central Park West & W 72 St,40.775794,-73.976206,223.0,W 13 St & 7 Ave,40.737815,-73.999947,35280,Customer,1969.0,unknown
1048571,1055,8/15/2020,8/15/2020,3832.0,Central Ave & Weirfield St,40.690550,-73.911810,3774.0,Knickerbocker Ave & George St,40.704425,-73.928360,15339,Customer,1995.0,female
1048572,829,8/15/2020,8/15/2020,3708.0,W 13 St & 5 Ave,40.735445,-73.994310,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,28815,Customer,1990.0,female
1048573,728,8/15/2020,8/15/2020,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,43211,Subscriber,1995.0,male
1048574,1018,8/15/2020,8/15/2020,3558.0,Bergen St & Vanderbilt Ave,40.679439,-73.968044,3407.0,Union St & Nevins St,40.679098,-73.987655,45843,Subscriber,1968.0,male

In [21]:
#save csv for visualizations
august_2015_to_2020.to_csv("august_2015_to_2020.csv", encoding='utf-8', index=True)